@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');
 @import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

html, body, .container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
}
.left-side {
    border-right: 2px solid #263238;
    background-color: #263238;
    color: #cfd4d7;
    height: 100%;
    position: fixed;
    text-align: center;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14), 0 3px 1px 2px rgba(0,0,0,.2), 0 1px 5px 2px rgba(0,0,0,.12);
}
.right-side {
    margin-left: 33%;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .right-side {
        margin-left: 0;
    }
}

.dati {
    font-family: 'Merriweather', serif;
}

#logo {
    width: 75%;
    margin: 0 auto;
}

.logoAWS {
    width: 75%;
    margin: 0 auto;
}

#tagline {
    text-align: center;
    margin-top: -20px;
    font-size: 1.25em;
}

.links {
    background-color: #009ee3;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border: 1px solid #00933e;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-right: 10px;
    text-decoration: none;
}

.links:hover {
    background-color: white;
    color: #00bcd4;
    text-decoration: none;
}

.links:active {
    background-color: white;
    color: #00bcd4;;
}

.socials a {
    display: inline-block;
    margin-right: 5px;
    background-color: #009ee3;
    color: #ffffff;
    /* padding: 20px; */
    font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border:1px solid #00bcd4;
}
.socials a:hover {
    background-color: #ffffff;
    color:#00bcd4;
}

.socials a:active {
    background-color: #ffffff;
    color:#00bcd4;
}

.blog-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #00bcd4;
}

.blog-title a {
    text-decoration: none;
    webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #00bcd4;
}

.blog-title a:hover {
    text-decoration: none;
    color: #e6e6e6;
}

.blog-post {
    padding-bottom: 20px;
}

.blog-body {
    text-align: justify;
}
.blog-footer {
    text-align: right;
}

.blog-footer a {
    display: inline-block;
    padding: 12px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #F3F3F3;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.7px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #00bcd4;
}
.blog-footer a:hover {
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #fff;
}

footer {
    border-top: 1px solid #373a3c;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: inherit;
    margin-bottom: -20px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #00bcd4;
    z-index: 1;
}
.back-to-top:hover, .back-to-top:active, .back-to-top:focus{
    background-color: white;
    color: #00bcd4;
    border-color: #00bcd4;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.code {
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14), 0 3px 1px 2px rgba(0,0,0,.2), 0 1px 5px 2px rgba(0,0,0,.12);
}

#title {
    width: 40%;
    float: right;
}

.navbar-dark {
    background-color: #263238 !important;
}
.navbar-nav {
    list-style: none;
}
blockquote {
    font-style: italic;
    padding-left: 20px;
}
img {
    width:100%;
}
@media(min-width:768px) {
    .right-side {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}
.div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gatsby-highlight-code-line {
    background-color: hsla(207, 95%, 15%, 1);
    display: block;
    margin-right: -1.3125rem;
    margin-left: -1.3125rem;
    padding-right: 1em;
    padding-left: 1.25em;
    border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
    margin-bottom: 1.75rem;
    margin-left: -1.3125rem;
    margin-right: -1.3125rem;
    border-radius: 10px;
    background: #011627;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

@media (max-width: 672px) {
    .gatsby-highlight {
        border-radius: 0;
    }
}

.gatsby-highlight pre[class*='language-'] {
    float: left;
    min-width: 100%;
}

p > code {
    padding: .2rem .4rem !important;
    font-size: 90% !important;
    color: #bd4147 !important;
    background-color: #f7f7f9 !important;
    border-radius: .25rem !important;
}
